@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  background-image: url("images/bg-desktop.svg");
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
  padding: 3rem;
}
header {
  margin-bottom: 5rem;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
}
.wrapper {
  display: flex;
}
.left-side {
  width: 720px;
  margin-right: 4rem;
  background-size: cover;
}
.right-side {
  color: white;
  width: 640px;
}
.right-side h1 {
  font-size: 54px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
.right-side p {
  font-size: 19.5px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
section {
  max-width: 80%;
}
ion-icon {
  width: 24px;
  height: 24px;
  float: right;
  margin-right: 0.5rem;
  color: white;
  padding: 6px;
  border: 1px solid white;
  border-radius: 50%;
  right: 0;
  transition: 0.3s ease-in-out;
}
ion-icon:hover {
  color: hsl(300, 69%, 71%);
  border: 1px solid hsl(300, 69%, 71%);
}
button {
  border: none;
  padding: 1rem 3rem;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}
.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
